{{ ansible_managed | comment }}

Client {
  Name = "{{ bareos_fd_hostname }}"
  Messages = "{{ bareos_fd_message }}"
{% if not bareos_fd_tls_enable %}
  TLS Enable = No
{% endif %}
{% if bareos_fd_tls_verify_peer %}
  TLS Verify Peer = Yes
{% endif %}
  Heartbeat Interval = {{ bareos_fd_heartbeat_interval }}
}
